{% assign audio_object = site.data.objects[page.iden] %}

<script>
    function format_time(seconds) {
        let hours = Math.floor(seconds / 3600).toString().padStart(2, "0");
        let minutes = Math.floor(seconds / 60).toString().padStart(2, "0");
        let new_seconds = Math.floor(seconds % 60).toString().padStart(2, "0");
        return hours + ":" + minutes + ":" + new_seconds;

    }

    function init() {
        let audio = document.getElementById("sp-audio-stream");
        audio.addEventListener("play", function() {document.getElementById("sp-play-button").innerText = '\u23F8';});
        audio.addEventListener("pause", function() {document.getElementById("sp-play-button").innerText = '\u23F5';});
        audio.addEventListener("timeupdate", progress);
    }

    function progress() {
        let progress = document.getElementById("sp-red-progress");
        let audio = document.getElementById("sp-audio-stream");

        document.getElementById("sp-audio-current-time").innerText = format_time(audio.currentTime);
        document.getElementById("sp-audio-duration").innerText = format_time(audio.duration);

        progress.style.width = (Math.round(audio.currentTime / audio.duration * 100).toString()) + "%";
    }

    function forward() {
        let audio = document.getElementById("sp-audio-stream");
        audio.currentTime += 25;
    }

    function rewind() {
        let audio = document.getElementById("sp-audio-stream");
        audio.currentTime -= 25;
    }

    function play() {
        let audio = document.getElementById("sp-audio-stream");
        if (audio.paused) {
            audio.play();
        } else {
            audio.pause();
        }
    }

    window.addEventListener("DOMContentLoaded", init);


</script>

<div id="sp-audio-player">
<!--    <img class="sp-featured-image" src="{{ site.data.objects[page.iden].thumbnail }}">-->
    <div class="sp-audio-featured-image">
        <img src="{{ audio_object.thumbnail }}">
    </div>
    <div class="sp-audio-controls">
        <h1>{{ audio_object.title }}</h1>
        <div class="sp-runtime">
            <div id="sp-red-progress" class="sp-red"></div>
            <div class="sp-white"></div>
        </div>
        <div class="sp-time-display">
            <span id="sp-audio-current-time">00:00:00</span> <span id="sp-audio-duration">00:00:00</span>
        </div>
        <div class="sp-buttons">
            <button class="sp-scrub">&#9198;</button>
            <button class="sp-play" onclick="play()" id="sp-play-button">&#9205;</button>
            <button class="sp-scrub">&#9197;</button>
        </div>
        <audio id="sp-audio-stream" src="{{ audio_object.stream }}"></audio>
    </div>
</div>
