<!-- Featured Exhibits Carousel -->
{% assign label = include.label | default: "Exhibit" %}
{% assign items = page.featured_pages | default: include.items %}

<div id='wax-gallery-objects-container' class='wax-gallery-container full-width'>
    <div class='wax-inline-container'>
        <div class="carousel-new">
            <div class="carousel__nav">
                <span id="moveLeft" class="carousel__arrow">
                    <svg class="carousel__icon" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
                    </svg>
                </span>
                <span id="moveRight" class="carousel__arrow" >
                    <svg class="carousel__icon"  width="24" height="24" viewBox="0 0 24 24">
                        <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
                    </svg>
                </span>
            </div>
            {% for title in items %}
            {% for temp in site.pages %}
            {% if title == temp.title %}
            <div class="carousel-item">
                <div class="carousel-item__image" style="background-image: url({{ temp.featured_image | absolute_url }})"></div>
                <div class="carousel-item__info">
                    <div class="carousel-item__container">
                        <h2 class="carousel-item__subtitle">{{ temp.subtitle }}</h2>
                        <h1 class="carousel-item__title">{{ temp.title }}</h1>
                        <p class="carousel-item__description">{{ temp.description }}</p>
                        {% if temp.event_date %}
                        <div class="carousel-item__date">
                            <p class='event-start'>
                                <time datetime='{{ temp.event_date | date_to_xmlschema }}'>
                                  {{ temp.event_date | date: "%B %d, %Y" }}
                                </time>
                                {% if temp.event_end %}
                                  <time datetime='{{ page.publish_date | date_to_xmlschema }}'> -
                                      {{ temp.event_end | date: "%B %d, %Y" }}
                                  </time>
                                {% endif %}
                            </p>
                        </div>
                        {% endif %}
                        <a href="{{ temp.url | relative_url }}" class="carousel-item__btn">Visit {{ label }}</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

<script>
$(function(){
  $('.carousel-item').eq(0).addClass('active');
  var total = $('.carousel-item').length;
  var current = 0;
  $('#moveRight').on('click', function(){
    var next=current;
    current= current+1;
    setSlide(next, current);
  });
  $('#moveLeft').on('click', function(){
    var prev=current;
    current = current- 1;
    setSlide(prev, current);
  });
  function setSlide(prev, next){
    var slide= current;
    if(next>total-1){
     slide=0;
      current=0;
    }
    if(next<0){
      slide=total - 1;
      current=total - 1;
    }
           $('.carousel-item').eq(prev).removeClass('active');
           $('.carousel-item').eq(slide).addClass('active');
      setTimeout(function(){

      },800);
    

    
    console.log('current '+current);
    console.log('prev '+prev);
  }
});
</script>
