<script>
  function move_carousel_object(amount) {
    const chunk = 224;
    const offset = 0;
    let items = document.querySelectorAll(".sp-object-item");
    const size = items.length;


    let container = document.getElementById("wax-gallery-objects");
    let num_visible = Math.floor(container.offsetWidth / chunk);
    let max_offset = ((size - num_visible) * chunk) - offset;

    if (num_visible >= items.length) {
      Array.from(document.getElementsByClassName("sp-carousel-control")).forEach(x => x.style.visibility = "hidden");
    }

    items.forEach(x => {
      let current = parseInt(x.style.translate);
      let new_amount = current + (amount * chunk);

      // Check for left overflow
      if (new_amount > offset) {
        new_amount = offset;
      }

      // Check for right overflow
      if (new_amount < -max_offset) {
        new_amount = -max_offset;
      }

      x.style.translate = new_amount.toString() + "px"
    });
  }

  document.addEventListener("DOMContentLoaded", () => move_carousel_object(0));
</script>

<div id='wax-gallery-objects-container' class='wax-gallery-container full-width'>
  <div class='wax-inline-container'>
    <h3>Featured Audio</h3>
    <div id="wax-gallery-objects" class="wax-gallery">
      <button class="sp-carousel-right-control sp-carousel-control" onClick="move_carousel_object(-1)">&gt;</button>
      <button class="sp-carousel-left-control sp-carousel-control" onClick="move_carousel_object(1)">&lt;</button>
      {% for item_id in page.featured_objects %}
          {% assign data = site.data.objects[item_id] %}
            {% if data != null %}

            <div class='gallery-item sp-object-item all' style="translate: 0;">
              <a href='{{ "objects/" | append: item_id | relative_url }}'>
                <div class='hovereffect'>
                  <img class='img-responsive gallery-thumb' src='{{ data.thumbnail_small }}'/>
                  <div class='overlay'>
                    {{ data.title }}
                  </div>
                </div>
              </a>
            </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
