{% assign start = include.start | default: 0 %}
{% assign end = include.end | default: 100000 %}


<div class="sp-audio-wrapper">
    <div class="sp-audio-player">
        <script>
            let mouse_x = 0.0;

            const tracks = [
                {% for iden in include.aviary_id %}
                    {% assign test = iden | plus: 0 %}
                    {% if site.data.objects[test] %}
                        {{ iden }},
                    {% endif %}
                {% endfor %}
            ]

            let current_audio = tracks[0];

            const annotations = new Map([
                {% for iden in include.aviary_id %}
                    [{{ iden }}, new Map([
                        ["stream", "{{ site.data.objects[iden].stream }}"],
                        ["thumbnail", "{{ site.data.objects[iden].thumbnail_medium }}"],
                        ["title", "{{ site.data.objects[iden].title }}"],
                        ["annotations", [
                            {% for annotation in site.data.objects[iden].annotations %}
                                {% if annotation.time > start %}
                                    {% if annotation.time < end %}
                                        {{ annotation.time }},
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        ]]
                    ])],
                {% endfor %}
            ]);

            // Utilities
            function format_time(seconds) {
                // Converts an integer time into a displayable time string.
                let hours = Math.floor(seconds / 3600).toString().padStart(2, "0");
                let minutes = Math.floor(seconds / 60).toString().padStart(2, "0");
                let new_seconds = Math.floor(seconds % 60).toString().padStart(2, "0");
                return hours + ":" + minutes + ":" + new_seconds;
            }

            function get_current_time(mouse_x) {
                // Takes a position of a mouse and turns it into an indicated time in seconds.
                let bar = document.getElementById("scrub-bar");
                let rect = bar.getBoundingClientRect();
                let percent = (mouse_x - rect.left) / (rect.right - rect.left);
                let audio = document.getElementById("sp-audio-stream");
                return Math.min(audio.duration, {{ end }} - {{ start }}) * percent;
            }

            function update() {
                // Run this to update UI to latest version.
                let progress = document.getElementById("sp-red-progress");
                let audio = document.getElementById("sp-audio-stream");

                if (audio.currentTime < {{ start }}) {
                    audio.currentTime = {{ start }};
                }

                if (audio.currentTime >= {{ end }}) {
                    audio.pause();
                    audio.currentTime = {{ end }};
                }

                let duration = {{ end | minus: start }};
                if (audio.duration < duration) {
                    duration = audio.duration;
                }

                let start_time = audio.currentTime - {{ start }};

                document.getElementById("sp-audio-current-time").innerText = format_time(start_time);
                document.getElementById("sp-audio-duration").innerText = format_time(duration);

                let percent = (start_time) / duration * 100;
                progress.style.width = (Math.round(percent).toString()) + "%";
            }

            // Events
            function init() {

                let audio = document.getElementById("sp-audio-stream");
                audio.addEventListener("play", function () {
                    document.getElementById("sp-play-button").style.backgroundImage = "url('{{ '/img/pause-button.svg' | absolute_url }}')"
                });
                audio.addEventListener("pause", function () {
                    document.getElementById("sp-play-button").style.backgroundImage = "url('{{ '/img/play-button.svg' | absolute_url }}')"
                });
                audio.addEventListener("timeupdate", update);
                audio.addEventListener("durationchange", update);

                load_track(current_audio);
            }

            function load_track(track_value) {
                current_audio = track_value;
                let audio = document.getElementById("sp-audio-stream");
                let paused = audio.paused;
                audio.src = annotations.get(track_value).get("stream");
                audio.load();
                document.getElementById("sp-audio-stream-image").src = annotations.get(track_value).get("thumbnail");

                let index = (tracks.indexOf(current_audio) + 1).toString() + "/" + tracks.length.toString() + ": ";

                document.getElementById("sp-audio-stream-title-link").textContent = index + annotations.get(track_value).get("title");
                document.getElementById("sp-audio-stream-image-link").href = '{{ "/objects" | absolute_url }}/' + current_audio.toString();
                document.getElementById("sp-audio-stream-title-link").href = '{{ "/objects" | absolute_url }}/' + current_audio.toString();

                if (!paused) {
                    audio.play();
                }
            }

            function forward() {
                let audio = document.getElementById("sp-audio-stream");
                let current = audio.currentTime;
                let timestamps = annotations.get(current_audio).get("annotations");
                let found = timestamps.find(x => x > current);
                if (found !== undefined) {
                    audio.currentTime = found;
                }
                update();
            }

            function rewind() {
                let audio = document.getElementById("sp-audio-stream");
                let current = audio.currentTime;
                let timestamps = annotations.get(current_audio).get("annotations");
                let index = timestamps.findIndex(x => x >= (current - 1));

                if (index > 0) {
                    index -= 1;
                }
                audio.currentTime = timestamps[index];
                update();
            }

            function play() {
                let audio = document.getElementById("sp-audio-stream");

                if (audio.currentTime >= {{ end }}) {
                    audio.currentTime = {{ start }};
                }

                if (audio.paused) {
                    audio.play();
                } else {
                    audio.pause();
                }
                update();
            }

            function seek(time) {
                let audio = document.getElementById("sp-audio-stream");
                audio.currentTime = time;
                update();
            }

            function next_track(inc) {
                let index = tracks.indexOf(current_audio);
                let next = index + inc;

                if (tracks[next] !== undefined) {
                    load_track(tracks[next]);
                }
            }

            function mouse_over() {
                let info = document.getElementById("scrub-info");
                let bar = document.getElementById("scrub-bar");
                let rect = bar.getBoundingClientRect();
                let currentTime = get_current_time(mouse_x);

                info.textContent = format_time(currentTime);
                info.style.visibility = "visible";
                info.style.left = (mouse_x - rect.x).toString() + "px";
            }

            function mouse_off() {
                document.getElementById("scrub-info").style.visibility = "hidden";
            }

            function move(e) {
                mouse_x = e.clientX;
            }

            function scrub() {
                let audio = document.getElementById("sp-audio-stream");
                audio.currentTime = get_current_time(mouse_x) + {{ start }};
                update();
            }

            document.onmousemove = move;
            window.addEventListener("DOMContentLoaded", init);
        </script>

        <audio id="sp-audio-stream"></audio>

        <div class="sp-audio-featured-image">
            <a id="sp-audio-stream-image-link" href="">
                <img src="{{ "img/cassette.svg" | absolute_url }}" alt="" id="sp-audio-stream-image">
            </a>
        </div>
        <div class="sp-audio-controls">
            <p id="sp-audio-stream-title"><a id="sp-audio-stream-title-link" href=""></a></p>
            <div class="sp-audio-timer">
                <div class="sp-buttons">
                    <button class="sp-skip-back" onclick="next_track(-1)"></button>
                    <button class="sp-back" onclick="rewind()"></button>
                    <button class="sp-play" onclick="play()" id="sp-play-button"></button>
                    <button class="sp-forward" onclick="forward()"></button>
                    <button class="sp-skip-forward" onclick="next_track(1)"></button>
                </div>
                <div id="scrub-bar" class="sp-runtime" onclick="scrub()" onmousemove="mouse_over()"
                     onmouseout="mouse_off()">
                    <div id="scrub-info">This is a test</div>
                    <div id="sp-red-progress" class="sp-red"></div>
                    <div class="sp-white"></div>
                </div>
                <div class="sp-time-display">
                    <span id="sp-audio-current-time">00:00:00</span> <span id="sp-audio-duration">00:00:00</span>
                </div>
            </div>
        </div>
    </div>
</div>
