.sp-objects-content {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;

  div {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: $max-width * 0.75;
  }

  .sp-divider {
    border: 1px solid $text-color;
    align-self: stretch;
    flex-basis: 2px;
    flex-grow: 0;
  }

  .sp-metadata {
    padding: 0 1em;
  }

  .sp-annotations {
    text-align: right;
    padding: 0 1em;
    a {
      color: $accent-light;
      font-weight: 700;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
      color: $accent-dark;
      cursor: pointer;
    }
  }

  input[type="checkbox"]:checked ~ div.sp-metadata {
      display: none;
    }

  input[type="checkbox"]:checked ~ div.sp-divider {
    display: none;
  }

  input[type="checkbox"] ~ div.sp-annotation-checkbox:after {
    content: "About ▼";
  }

  input[type="checkbox"]:checked ~ div.sp-annotation-checkbox:after {
    content: "About ▶";
  }

  input {
    flex-basis: 20px;
    flex-grow: 0;
    opacity: 0;
    z-index: 5;
    display: none;
  }

  .sp-annotation-checkbox {
    flex-basis: 20px;
    flex-grow: 0;
    background-color: $brand-red;
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
    z-index: 0;
    display: none;
  }
}

@media (max-width: $format-switch) {
  .sp-audio-player {
    flex-direction: column;
    text-align: center;

    img {
      padding: 2em;
      width: auto !important;
      max-width: 100%;
    }
  }

  .sp-audio-controls {
    width: 100%;
    max-width: 100% !important;
    flex-grow: 1;
    margin: 0;
    padding: 0;
  }

  .sp-objects-content {
    flex-direction: column;

    .sp-annotation-checkbox {
      display: block;
    }

    .sp-annotation-checkbox-input {
      display: block;
    }

    .sp-annotations {
      text-align: left;
    }
  }

  div.sp-audio-red-block {
    background-color: $text-color;
  }
}

.sp-audio-red-wrapper {
  position: relative;
}

.sp-audio-red-block {
  position: absolute;
  height: 100%;
  min-width: 297.33px;
  background-color: $brand-red;
  left: 0;
  z-index: 0;
}

.sp-audio-player {
  background-color: $text-color;
  display: flex;
  //flex-direction: row;
  //flex-wrap: wrap;
  justify-content: center;

  * {
    z-index: 5;
  }

}

#scrub-info {
  visibility: hidden;
  position: absolute;
  top: -30px;
  border-radius: 5px;
  padding: 0 2px;
  left: 0;
  background-color: $bg-color;
}

.sp-audio-featured-image {
  margin: 0 2em;

  img {
    max-height: 350px;
    width: 100%;
  }
}

.sp-audio-seek {
  cursor: pointer;
}

.sp-audio-controls {
  max-width: $max-width;
  padding: 0 2em 0 2em;

  * {
    margin-bottom: 2em;
  }

  h1 {
    color: $brand-red;
  }

  .sp-time-display {
    color: white;
    text-align: center;
  }

  .sp-runtime {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 10px;
    cursor: pointer;
  }

  .sp-white {
    background-color: white;
    height: 5px;
    width: 50%;
    margin: 0;
    flex-basis: 0px;
  }

  .sp-red {
    background-color: $brand-red;
    width: 0;
    height: 5px;
    margin: 0;
  }

  .sp-white {
    flex-grow: 1;
  }

  .sp-featured-image {
    height: 400px;
    width: 400px;
  }

  .sp-timestamp {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 1em;
  }
}

.sp-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  button {
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-color;
    margin: 0 1em;
    height: 84px;
    width: 84px;
    border-radius: 50px;
    border: 0;
    box-shadow: 2px 2px 2px black;
    background-image: url("../img/play-button.svg");
    background-size: 125%;
    background-position: center;
    flex-shrink: 0;

    &:focus {
      outline: none;
    }

    &:hover {
      opacity: 50%;
      transition-duration: 0.4s;
    }
  }

  .sp-back {
    width: 58px;
    height: 58px;
    box-shadow: -2px 2px 2px black;
    background-image: url("../img/fast-forward.svg");
    transform: scaleX(-1);
  }

  .sp-forward {
    width: 58px;
    height: 58px;
    box-shadow: 2px 2px 2px black;
    background-image: url("../img/fast-forward.svg");

  }
}
