.sp-objects-content {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;

  div {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: $max-width * 0.75;
  }

  .sp-divider {
    border: 0.5px solid lightgray;
    align-self: stretch;
    flex-basis: 1px;
    flex-grow: 0;
  }

  .sp-metadata {
    border-top: 2px solid lightgray;
    padding: 0 1em;
  }

  .sp-annotations {
    border-top: 2px solid lightgray;
    text-align: right;
    padding: 0 1em;
    a {
      color: $accent-light;
      font-weight: 700;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
      color: $accent-dark;
      cursor: pointer;
    }
  }

  input[type="checkbox"]:checked ~ div.sp-metadata {
      display: none;
    }

  input[type="checkbox"]:checked ~ div.sp-divider {
    display: none;
  }

  input[type="checkbox"] ~ div.sp-annotation-checkbox:after {
    content: "About ▼";
  }

  input[type="checkbox"]:checked ~ div.sp-annotation-checkbox:after {
    content: "About ▶";
  }

  input {
    flex-basis: 20px;
    flex-grow: 0;
    opacity: 0;
    z-index: 5;
    display: none;
  }

  .sp-annotation-checkbox {
    flex-basis: 20px;
    flex-grow: 0;
    background-color: $brand-red;
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
    z-index: 0;
    display: none;
  }
}

@media (max-width: $format-switch) {
  .sp-objects-content {
    flex-direction: column;

    .sp-annotation-checkbox {
      display: block;
    }

    .sp-annotation-checkbox-input {
      display: block;
    }

    .sp-annotations {
      text-align: left;
    }
  }

  div.sp-audio-red-block {
    width: 0;
  }
}

.sp-audio-red-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: $text-color;
  padding: 2em 2em 1em;
}

.sp-audio-red-block {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 297.33px;
  background-color: $brand-red;
}

.sp-audio-wrapper {
  position: relative;
  container-type: size;
  height: 100%;
  width: 100%;
}

.sp-audio-player {
  align-items: center;
  justify-content: left;
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-bottom: 1rem;

  .sp-audio-featured-image {
    img {
      max-height: 100px;
    }
  }

  .sp-audio-controls {
    flex-direction: row;
    flex-grow: 2;
    align-items: center;
    max-width: none;
    text-align: center;
    //max-width: $max-width;
    padding: 0 0 0 2em;
    display: flex;
    gap: 1em;

    .sp-audio-timer {
      flex-grow: 2;
      margin-left: auto;
      margin-right: 2rem;
      .sp-time-display {
        #sp-audio-current-time {
          float:left;
        }
        #sp-audio-duration {
          float:right;
        }
      }
    }

    #sp-audio-stream-title {
      flex-basis: 20%;
      margin: 0;
    }

    #sp-audio-stream-title-link {
      margin: 0;
      font-size: 1rem;
      color: #ffffff;
      text-decoration: none;
      font-family: "Montserrat","sans-serif";
      font-weight: 500;
      letter-spacing: 0.72px;
      padding: 0;
      text-align: center;
      vertical-align: center;
      max-width: 20%;
    }

    #sp-audio-stream-title-link:hover {
      text-decoration: none;
      color: #868684;
    }

    .sp-runtime {
      position: relative;
      display: flex;
      flex-direction: row;
      cursor: pointer;
      margin-bottom: 0;
      border: 1px solid $text-color;


      #scrub-info {
        visibility: hidden;
        position: absolute;
        top: -30px;
        border-radius: 5px;
        padding: 0 2px;
        left: 0;
        border: 1px solid $text-color;
        background-color: $bg-color;
      }

      .sp-white {
        background-color: white;
        height: 5px;
        width: 50%;
        margin: 0;
        flex-basis: 0px;
        flex-grow: 1;
      }

      .sp-red {
        background-color: $brand-red;
        width: 0;
        height: 5px;
        margin: 0;
      }
    }

    .sp-time-display {
      color: $bg-color;
      text-align: center;
      min-width: 200px;
    }


    .sp-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
      order: -1;

      button {
        cursor: pointer;
        margin: 0 0.5em;
        height: 50px;
        width: 50px;
        border-radius: 50px;
        border: 0;
        box-shadow: 2px 2px 2px black;
        background-image: url("../img/play-button.svg");
        background-size: 125%;
        background-position: center;

        &:focus {
          outline: none;
        }

        &:hover {
          opacity: 50%;
          transition-duration: 0.4s;
        }
      }

      .sp-back {
        width: 40px;
        height: 40px;
        box-shadow: -2px 2px 2px black;
        background-image: url("../img/fast-forward.svg");
        transform: scaleX(-1);
      }

      .sp-forward {
        width: 40px;
        height: 40px;
        background-image: url("../img/fast-forward.svg");
      }

      .sp-skip-back {
        width: 40px;
        height: 40px;
        background-image: url("../img/skip.svg");
      }

      .sp-skip-forward {
        width: 40px;
        height: 40px;
        box-shadow: -2px 2px 2px black;
        background-image: url("../img/skip.svg");
        transform: scaleX(-1);
      }
    }
  }
}

@media (max-width: $format-switch) {
  .sp-audio-player {
    .sp-audio-featured-image {
      display: none;
    }
    .sp-audio-controls {
      display: block;
    }
  }
}

.fixed-audio {
  position: fixed;
  width: 100%;
  height: 120px;
  bottom: 0;
  left: 0;
  border-top: 1px;
  border-color: $bg-color;
  background-color: #4f4e4e;
  z-index: 99;
  padding: 0.5em;
}
