---
sitemap: false
---
/*
variable declaration
*/

/* branding */
$logo: url("{{ '/assets/logo-white.png' | absolute_url }}");

/* text */

$body-font:       'Montserrat', 'sans-serif';
$heading-font:    'Montserrat', 'sans-serif';
$sub-font:  'Lato', 'sans-serif';


/* Image Size */

$thumbnail-height: 200px;
$thumbnail-width: 200px;

/* colors */

$text-color:      #414141;
$text-color-dark: #ffffff;
$bg-color:        #ffffff;
$caption-color:   #f5efef;
$banner-color:    #868684;
$brand-red:       #F53E3E;
$neutral:         #404040;
$accent-light:    #823726;
$footnote:         #cc9767;
$accent-dark:     #d13333;

/* viewport sizes */

$max-width:       800px;
$format-switch: 991px;

/* margins */

$less-margin:     1.0rem;
$margin:          1.5rem;
$more-margin:     2.0rem;
$super-margin:    3.0rem;


$viewer-height:   550px;
$parallax-height: 350px;
$footer-height:   250px;

/*
font & asset import
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&font-display=auto');
@import 'wax';
@import 'audio';
