---
layout: default
---
<div id='splash-main'>
  <div class="splash-red"></div>
  <div class="content">
    {{ content }}
  </div>
</div>
<div id='wax-main' >
  <div class='wax-inline-container'>
    <h1 style="text-align: center;">Audio Exhibits</h1>
    <p>Our curated exhibits frame and contextualise the histories of the recordings in our collection, and will direct you to further resources held in our repository and curated by institutions across the SpokenWeb Network.</p>
    {% if page.featured_pages != nil %}
      {% include featured_pages.html %}
    {% endif %}
  </div>
</div>
